@media (min-width: 48rem) {
    /*------------------------HEADER-768--------------------------*/
    .logo{
        font-size: 1.5rem;
        padding: 2.2rem 0.5rem;
    }
    .navigation{
        font-size: 1.25rem;
        padding: 0 10rem;
        margin-bottom: 0;
    }

    /*------------------------GALLERY-768--------------------------*/
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

 .container-img [class*="col-"]:nth-last-child(-n+3){
      display: block;
  }
  .container-img [class*="col-"]:last-child{
    display: none;
  }
  .container-img [class*="col-"]:nth-last-child(-n+3){
        margin-bottom: 0rem;
    }
    /*------------------------FOOTER-768--------------------------*/
    .footer-one{
        background: #182f46;
        color: #fff;
        padding: 1.5rem 4rem;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
      }
      .list-footer{
        flex-basis: 75%;
        margin-bottom: 0;
      }
      .item-footer{
        margin-bottom: 0;
      }
      .item-footer:nth-last-child(-n+3){
        margin-bottom: 0rem;
      }
      .section-contacts{
        flex-basis: 25%;
          flex-direction: column;
          
      }
      .item-contact{
        text-transform: uppercase;
        font-size: 1rem;
      }
      .link-contact{
        margin-left: 0rem;
        color:#fff;
        font-size: 0.8rem;
        display: inline-block;
      }
      .email-footer::before{
        margin-left: 0rem;
      }
      .sprite{
        padding: 1.5rem 0 0.5rem;
      }
      .legally{   
        font-size: 1rem;
    }
        }