
/*------------------------HEADER-480--------------------------*/


header{
    text-transform: uppercase;
    margin-top: 2rem;
}
.box-logo{
    text-align: center;
    margin-bottom: 2rem;
}
.position-absolute{
    z-index: 100;
}
.logo{
    z-index: 100;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    padding: 1.75rem 0.4rem;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    color: rgb(27, 27, 90);
    
}

.navigation{
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 2.5rem;

}
.item-nav{
    position: relative;
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 1rem;

    
}
.link-nav{
    text-decoration: none;
    color:#fff;
}
.link-nav:hover{
    color:rgba(0,0,100,1);
}

.subnav{
    
    display: none;
    padding: 0.4rem 0.2rem;
    z-index: 2;
    background: #f2f2f3;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5%;
    font-size: 0.7rem;
}
.subnav::before {
    padding: 0 1rem;
    content: '\25bc';
    font-size: 1rem;
    color: #f2f2f3;
    top: -20%;
    left: 10%;
    position: absolute;
    transform: rotate(180deg);
  }
  .subitem-nav{
    text-align: center;
    margin-bottom: 0.25rem;
}
.subitem-nav:last-child{
    margin-bottom: 0rem;
}
.subitem-nav:hover{
    background: #fff;
}
.sublink-nav{
    padding: 0.2rem;
    color:#263555;
    text-transform: uppercase;
    font-weight: bold;
}
.item-nav:hover>.subnav{
    display: block;
}
/*--------------------------GALLERY-480------------------------*/

.gallery{
    background: #fff;
    padding: 3.75rem 2.5rem;
}

    .title-section{
        color: rgb(36, 36, 71);
        text-transform: uppercase;
        padding-bottom: 1.5rem;
    }

    .container-img{
        margin-bottom: 2rem;
        position: relative;
    }

    .icon-zoom{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block;
        display: none;
    }
    .img-gallery {
        display: block;
        width: 100%;
    }
    @keyframes brightness{
        from { opacity: 0;}
        to { opacity: 1;}
    }
    .img-gallery:hover>.icon-zoom{
        display: block;
    }
    
    .img-gallery:hover{
        animation-name: brightness;
        filter: brightness(50%);
    }


    .container-img:nth-last-child(-n+3){
        display: none;
    }

    .container-img:last-child{
        margin-bottom: 0rem;
    }
    
/*--------------------------FOOTER-----------------------------*/
    .footer-one{
        background: #123456;
        color: #fff;
        padding: 1.5rem 2.5rem;
        font-size: 0.8rem;
      }
      .list-footer{
          display: flex;
          flex-wrap: wrap;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
      }
      .item-footer{
        margin-bottom: 0.5rem;
      }
      .item-footer:nth-last-child(-n+3){
        margin-bottom: 0rem;
      }
      .link-footer{
        color:#fff;
      }
      .section-contacts{
        text-align: center;
      }
      .item-contact{
       display: inline-block;
        text-transform: uppercase;
        text-align: center;
      }
      .link-contact{
          display: inline-block;
        color:#fff;
        font-size: 0.6rem;
      }
      .mobile-footer::before{
        content:'\2706';
        font-size: 1.2rem;
        margin-right: 0.25rem;
      }
      .email-footer::before{
        content:'\2709';
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 0.25rem;
      }
      
      /*----------------FOOTER-SPRITE--------------------*/
      .footer-two{
          padding: 0 2.5rem;
      }
      .sprite {
        padding: 1.5rem 0 0.5rem;
        list-style: none;
        display: flex;
        justify-content: center;
      }
      .content-center{
          justify-content: center;
      }
      .sprite-item{
          text-align: center;
      }

      .sprite-item>a {   
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
      }
      
      .sprite-item:nth-of-type(1)>a {
        background-image: url(../../img/footer/sprite.png);
        background-repeat: no-repeat;
        background-position:0rem 0rem ;
        filter: brightness(90%);
      }
      
      .sprite-item:nth-of-type(2)>a {
        background-image: url(../../img/footer/sprite.png);
        background-repeat: no-repeat;
        background-position: -3.23rem 0rem ;
        filter: brightness(90%);
      }
      
      .sprite-item:nth-of-type(3)>a {
        background-image: url(../../img/footer/sprite.png);
        background-repeat: no-repeat;
        background-position:-6.6rem 0rem ;
        filter: brightness(90%);
      }
      .sprite-item:nth-of-type(4)>a {
        background-image: url(../../img/footer/sprite.png);
        background-repeat: no-repeat;
        background-position: -9.9rem 0rem;
        filter: brightness(90%);
      }
      
      .sprite-item>a:hover {
        filter: brightness(100%);
      }

    /*----------------------------------FOOTER-LEGALLY*/
    .legally{
        color:#fff;
        display: flex;
        justify-content: center;    
        font-size: 0.7rem;
    }
    .link-legally{
        color:#fff;
    }
    .dividing-line::after{
        content:'\007C' ;
        margin-right: 0.25rem;

    }