.box-cities{
    margin-bottom: 525px;
}
.title{
    text-transform: uppercase;
    color:rgb(38, 53, 85);
    padding: 40px 0px;
}
.citie{
    position: relative;
    float: left;
    width: 32%;
    padding: 1%;
}
.article-citie{
    min-height: 252px;
    max-height: 252px;
    padding: 10px 5px 0px 5px;
    float: left;
    width:50%;
    background: rgb(25, 49, 73);
    color:#fefefe; 
    text-align: justify;
    position: absolute;
    display: none;
  
}

.img-citie{
    float: left;
    width: 100%;
}

.citie-name{ 
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}
.text{
        font-size: 12px;
        margin-bottom: 71px;
        color: #ddd;
}
.button{
    background: #fff;
    color:rgb(38, 53, 85);
    border-radius: 4px;
    margin-left: 70px;
    padding: 0px 10px;
    text-decoration: none;
    margin-top: 20px;  

}

.citie:hover>.article-citie{
    display: block;
}
