.section{
    position: relative;
}
.fon-slider{
    background-repeat: no-repeat;
    background-size: cover;
}
.slider{
position: absolute;
top: 75%;
left: 5%;
}

.caption-one{
padding: 10px;
position: absolute;
top:43%;
color: rgb(38, 53, 85);
background: #fff;
text-transform: uppercase;
}
.caption-two{
    padding: 15px;
    position: absolute;
    top:50%;
    color: #fff;
    background: #27B0F0;
    text-transform: uppercase;
    
}



.fon-left {
    background: #27B0F0;
    float: left;
    list-style-type: none;
    width: 2.5em;
    height: 5em;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    position: relative;

}
.fon-right {
    background: #27B0F0;
    float: left;
    list-style-type: none;
    width: 2.5em;
    height: 5em;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    position: relative;
}

.link-left::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
        content: "\2190";
        color: #fff;
        font-size: 30px;
}
.link-right::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "\2192"; 
    color: #fff;
    font-size: 30px;
}
.fon-left:hover {
    background: rgba(56,175, 229, 0.7)

}
.fon-right:hover {
    background: rgba(56,175, 229, 0.7)

}