/*--------------------------FOOTER-----------------------------*/
.footer-one{
    background: #182f46;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    font-size: 0.8rem;
  }
  .footer-one__list{
        flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
    text-transform: uppercase;
    margin-bottom: 1rem;
      text-align: center;
       }

  .footer-one__item{
    flex-basis: 33%;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  .footer-one__item:nth-last-child(-n+3){
    margin-bottom: 0rem;
  }
  .footer-one__link{
    color:#fff;
  }
  .footer-one__section-contacts{
      flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-one__item-contact{
      flex-basis: 33%;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .footer-one__link-contact{
    flex-basis: 33%;
    color:#fff;
    font-size: 0.6rem;
  }
  .footer-one__link-contact--mobile::before{
    content:'\2706';
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
  .footer-one__link-contact--mail::before{
    content:'\2709';
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
  
  /*----------------FOOTER-SPRITE--------------------*/
  .sprite{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .svg {
    display: block;
    width: 3%;
    height: 3%;
    margin-right: 0.25rem;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .svg:hover > .svg__fon--hover-twitter {
    fill: #55ACEE;
  }
  .svg:hover > .svg__fon--hover-facebook{
    fill:#3B5998;
  }
  .svg:hover > .svg__fon--hover-google{
    fill:#DC4E41;
  }
  .svg:hover > .svg__fon--hover-linkedin{
    fill:#007AB9;
  }
  .svg__fon {
    fill: rgba(50, 50, 50, 0.2);
  }
  
  .svg__symbol {
    fill: #fff;
  }
  
/*----------------------------------FOOTER-LEGALLY*/
.legally{
    color:#fff;
    display: flex;
    justify-content: center;    
    font-size: 0.7rem;
}
.legally__link{
    color:#fff;
}
.legally__item--dividing-line::after{
    content:'\007C' ;
    margin-right: 0.25rem;

}



/*------------------------FOOTER-768--------------------------*/
@media (min-width: 48rem) {
.footer-one{
    background: #182f46;
    color: #fff;
    padding: 1.5rem 4rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .footer-one__list{
    flex-basis: 75%;
    margin-bottom: 0;
  }
  .footer-one__item{
    margin-bottom: 0;
  }
  .footer-one__item:nth-last-child(-n+3){
    margin-bottom: 0rem;
  }
  .footer-one__section-contacts{
    flex-basis: 25%;
    flex-direction: column;
      
  }
  .footer-one__item-contact{
    text-transform: uppercase;
    font-size: 1rem;
  }
  .footer-one__link-contact{
    margin-left: 0rem;
    color:#fff;
    font-size: 0.8rem;
    display: inline-block;
  }
  .footer-one__link-contact--mail::before{
    margin-left: 0rem;
  }
  .sprite{
    padding-bottom: 0.5rem;
  }
  .legally{   
    font-size: 1.2rem;
}
    }



    /*----------------------FOOTER-----------------------*/
    @media (min-width: 75rem) {
.footer-one__link, .footer-one__item-contact{
    font-size: 1.3rem;
}

   .footer-one__link-contact{
     font-size: 1rem;
   }
   .footer-one__link-contact--mobile::before{
     content:'\2706';
     font-size: 1.5rem;
     margin-right: 0.25rem;
   }
   .footer-one__link-contact--mail::before{
     content:'\2709';
     font-size: 1.5rem;
     margin-left: 1rem;
     margin-right: 0.25rem;
   }

}

