*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(107, 176, 255, 0.5);
    background-image: url(../img/fon/fon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    width: 64rem;
    margin:auto;
}

.container-main{
    padding: 3.75rem;
    background: #fff;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
    /*--------------------ARROW-TOP--------------------*/
    .arrow-top{
        position: fixed;
        right: 5%;
        bottom:5%;
        text-decoration: none;
        z-index: 10;
    }
    .arrow-top::before {
        background: #27B0F0;
        border-radius: 100%;
        content:'\2B06';
        padding: 10px 15px;
        color: #fff;
    }